@model WebMvc.Models.Ticket

<div class="">
    <div class="">

        <form method="post">
            <fieldset>
                <legend>This section of page will have cart data!!!</legend>
                @*<div>
                    <label>Ticket Quantity</label><label>Ticket Id</label>
                </div>
                <div>
                    <input type="text" name="TicketQuantity" id="quantityAdded27" /><input type="text" name="TicketInfo" id="tickedId27" />
                </div>
                <div>
                    <input type="text" name="TicketQuantity" id="quantityAdded28" /><input type="text" name="TicketInfo" id="tickedId28" />
                </div>

                <div><input id="checkoutbutton" class="custom_btn ticket_btn" type="submit" value="CHECK OUT" /></div>*@

            </fieldset>
        </form>


    </div>
</div>