@model WebMvc.Models.Ticket

<div class="esh-pager">
    <div class="container">

        <form method="post">
            <fieldset>
                <legend>Add Item</legend>
                <div>
                    <label>Ticket Quantity</label><label>Ticket Id</label>
                </div>
                <div>
                    <input type="text" name="TicketQuantity" id="quantityAdded27" /><input type="text" name="TicketInfo" id="tickedId27" />
                </div>
                <div>
                    <input type="text" name="TicketQuantity" id="quantityAdded28" /><input type="text" name="TicketInfo" id="tickedId28" />
                </div>

            </fieldset>
        </form>


    </div>
</div>