@{
    ViewData["Title"] = "Ticket details";

    @model WebMvc.ViewModels.TicketIndexViewModel
}
<label>This is a ticket page</label> 
<div> 
    <span>@Model.Event.Title</span>
    <span>@Model.Event.Description</span>
</div>
