<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared/components/identity/identity.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light event_navbar">
                <a class="navbar-brand main_title" asp-area="" 
                   asp-controller="Event" 
                   asp-action="Index">Event Finder</a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto list-unstyled nav_ul_spacing">
                        <li class="nav-item active">
                            <a class="nav-link new_nav_link" asp-area=""
                               asp-controller="Event"
                               asp-action="Index">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link new_nav_link" asp-area=""
                               asp-controller="Event"
                               asp-action="About">About</a>
                        </li>
                        <li class="nav-item"></li>
                    </ul>
                    <div class="hello_user float-right">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>                   
                </div>
            </nav>
        </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container footer_content">
            &copy; @DateTime.Now.Year - Event Finder
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
