@using Microsoft.AspNetCore.Identity
@using WebMvc.Services
@using WebMvc.Models

@inject IIdentityService<ApplicationUser> UserManager
@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{

    <section>
        <div class="esh-identity">
            <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
                <section class="esh-identity-section">

                    <div class="esh-identity-name">@User.FindFirst(x => x.Type == "preferred_username").Value</div>
                      <a class="esh-identity-item" href="javascript:document.getElementById('logoutForm').submit()">
                    <div class="esh-identity-name new_hover">Log Out</div></a>
                </section>
            </form>
        </div>
    </section>

    <section>
        @*@await Component.InvokeAsync("Cart", new { user = UserManager.Get(User) })*@
    </section>

}
else
{
    <section>
        <div class="esh-identity">
            <section class="esh-identity-section">
                <div class="esh-identity-item">

                    <a asp-area="" asp-controller="Account" asp-action="SignIn" class="esh-identity-name new_hover">
                        Login
                    </a>
                </div>
            </section>
        </div>
    </section>

    <section></section>
}