<div>
    <img src="~/images/aboutpageimage.jpg" alt="ASP.NET" class="img-responsive stretch_img"/>
</div>
<div class="aboutinfo">
    <b>Event Finder is a self-service ticketing platform for live experiences that allows anyone to find, book and attend events that fuel their passions and enrich their lives. Events are happening on just about any topic you can think of, from online gaming and photography to yoga and hiking!! Anyone can browse events on Event Finder using Online, Date, Category, Format, location, free and paid filters. Create your account with us and use Event finder to find and book tickets for both online and in person events!!</b>
</div>





