/* ======== Part 1 - CSS Foundation  (pre-built)  ======= */
body {
    padding-top: 20px;
    padding-bottom: 0;
}

/* Basic padding to keep content away from edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on form inputs, otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 260px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* ====== Part 2 - Event Finder - Custom css  ====== */

/*  _Layout  */
.main_title {
    font-family: Impact, Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
    color: white;
    letter-spacing: 0.02em;
}

.new_nav_link {
    margin-left: 15px;
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0;
}

.nav_ul_spacing {
    padding: 15px;
}

.event_navbar {
    background-color: #00a69c;
    margin-bottom: 0;
    border-bottom: none;
    z-index: 99;
    border-radius: 5px 5px 0 0;
}

.hello_user {
    margin: 10px 15px 0 0;
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: #00a69c;
    font-weight: 500;
}

footer.footer {
    background-color: #00a69c;
    font-size: 17px;
    height: 50px;
    margin-top: 5px;
}

.footer_content {
    padding: 10px;
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    color: white;
    font-weight: 500;
}

/*  Used in multiple files  */
.event_name {
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 20px;
}

.date_num {
    font-size: 20px;
    font-weight: 100;
}

.zone_A,
.zone_B,
.zone_C,
.zone_D,
.zone_1,
.zone_2 {
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    padding-top: 5px;
}

.zone_A {
    font-size: 18px;
}

.zone_B {
    font-size: 16px;
}

.zone_C {
    font-size: 14px;
}

.zone_D {
    font-size: 12px;
}

.zone_1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.zone_2 {
    font-size: 15px;
}

.accent {
    color: #018a81;
    padding-left: 15px;
}

.banner_row {
    padding: 0;
    background-color: #ecf3eb;
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
}

.photo_box {
    padding-right: 0;
    padding-left: 0;
}

.title_box {
    display: grid;
    grid-template-rows: 105px 80px 60px 40px;
    padding-right: 0;
    height: 100%;
    padding-left: 35px;
    padding-top: 25px;
    line-height: normal;
}

/*  Buttons  */
.custom_btn {
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 240px;
    border-radius: 4px;
    text-align: center;
}
.custom_btn:hover {
    transition: all 0.35s;
}

.ticket_btn {
    background-color: #83d01b;
}

.ticket_btn_disabled {
    background-color: #e9ecef;
    color: #adb5bd;
}

.info_btn {
    background-color: #83d01b;
    text-align: center;
    text-justify: auto;
    margin-left: 10px;
    line-height: 48px;
}

.dates_btn {
    text-align: center;
    text-justify: auto;
    margin-left: 40px;
}

.ticket_btn:hover {
    background-color: #4a760f;
    color: #ffffff;
}

.info_btn:hover {
    background-color: #4a760f;
    color: #ffffff;
    text-decoration: none;
}

#verifybutton {
    margin: 22px auto auto auto;
    justify-content: center;
}

/*  Event page  */
.event_big_img {
    width: 100%;
    height: 100%;
    max-width: 720px;
    max-height: 360px;
    margin: auto;
}
.filter_container {
    padding-top: 0.5rem;
    padding-right: 0;
}
.subtitle {
    color: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 0;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
}
.stretch_img {
    width: 1140px;
    overflow: hidden;
}
.arrow_button {
    padding: 0;
    height: 38px;
}
.event_zone {
    margin-top: 5px;
}
.event_container {
    padding-left: 0;
    padding-right: 0;
}
.event_intro {
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    padding-top: 5px;
}

/* _EventInfo.cshtml  */
.event_image {
    height: 220px;
    width: 293px;
}

.img_spacer {
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;
}

/*  EventDetails page  */
.ticket_url {
    margin-left: 40px;
}
.ticket_row {
    border-top: 1px solid #dbdae3;
    border-bottom: 1px solid #dbdae3;
    margin-left: 0;
    margin-right: 0;
}
.details_box {
    display: grid;
    grid-template-rows: 15px 60px 25px 40px 25px 40px 25px 40px 25px 40px 40px;
    padding-left: 85px;
}
.core_box {
    display: grid;
    grid-template-rows: 15px 40px 30px 30px 25px 40px 30px 30px 25px 85px;
    padding-left: 35px;
}

/*  _pagination.cshtml  */
.pager_row {
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
}

.pager_item {
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: green;
    font-weight: 500;
    margin: 0 5px 0 5px;
}

.pager_box {
    border: 1px blue solid;
    display: inline;
    padding: 7px 5px 5px 5px;
    background-color: #e3f2fd;
    border-radius: 5px;
}

.lighter,
.lighter2 {
    color: lightseagreen;
}

.lighter:hover {
    color: darkgreen;
}

/*  _LoginPartial  */
.new_hover:hover {
    color: darkgreen;
}

/* Ticket page */
.quantity_dropdown {
    height: 30px;
    width: 60px;
    color: #ffffff;
    background-color: #83d01b;
    margin-left: 20px;
    margin-top: 55px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.35s;
    border-radius: 4px;
}

.img_spacer2 {
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;
}

.cartfont {
    color: #018a81;
    font-size: 16px;
    padding-left:15px;
}

.cart_row{
    padding:15px;
}

.ticket_info_row {
    margin-left: 15px;
    margin-top: 1px;
    padding: 10px;
    display: grid;
    grid-template-columns: 380px 100px;
    border-bottom: 2px solid #dbdae3;
}

.ticket_showcase {
    padding: 10px 25px 10px 25px;
}

.ticket_showcase::before {
    content: none;
}

.select_tickets_box {
    display: grid;
    grid-template-rows: auto 50px;
    padding-right: 0;
    padding-left: 0;
}

.items_wrapper {
    display: grid;
}

.item_box {
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: solid 1px gray;
    padding-top: 10px;
}

.sub_row {
    display: grid;
    grid-template-columns: 125px 200px;
    margin-left: 100px;
}

.ticket_title_box {
    display: grid;
    grid-template-rows: 65px 85px;
    padding-right: 0;
    height: 100%;
    padding-left: 100px;
    padding-top: 55px;
    line-height: normal;
}

/*  Order page  */
.override4 {
    background-color: white;
    display: grid;
    grid-template-rows: 75px auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    border-radius: 0 0 10px 10px;
}
.title_blue {
    margin: 20px auto 0 auto;
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #4bc7f9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #09b5fb;
}
.form_wrapper {
    display: grid;
    grid-template-rows: minmax(205px, 312px) auto 230px 95px;
}
.rowQ {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col_Q1, .col_Q2 {
    padding-left: 30px;
}
.col_Q1 {
    display: grid;
    grid-template-rows: 40px 40px 65px 65px 65px;
}
.col_Q2 {
    display: grid;
    grid-template-rows: 107px minmax(65px, 204px);
}
input.cart_btn {
    margin-top: 0;
    margin-bottom: 0;
}
.rowR {
    margin-bottom: 10px;
}

h5.please {
    padding-left: 30px;
}
.payment_input {
    max-height: 65px;
    margin: auto auto auto 25px;
    width: 210px;
}
.secure_payment {
    height: 106px;
    width: 88px;
}
.img_wrapper {
    margin: auto 140px auto auto;
    height: 107px;
    width: 89px;
}
.btn_wrapper {
    width: 241px;
    margin: auto 65px auto auto;
}
.pay_btn_box {
    margin: auto;
    padding-bottom: 20px;
}
.rowT {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.field-validation-valid, 
.field-validation-error {
    display: none;
}
.error_format {
    margin: 0 auto 10px auto;
    line-height: 10px;
    max-height: 35px;
    max-width: 240px;
    padding-bottom: 10px;
    padding-right: 0;
}
/*  _OrderItems.cshtml */
section.itemLeft {
    margin: auto auto auto 5px;
}
section.itemRight {
    margin: auto 5px auto auto;
}
.multi_row {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 165px 95px 105px 75px 1fr;
}
.heading_row {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 220px 220px 1fr;
    line-height: 2;
    border-top: 2px solid lightgray;
    font-size: 18px;
    width: 92%;
    line-height: 2;
    font-weight: bold;
}
.heading_font {
    font-weight: bold;
    color: #018a81;
}
article.rowE {
    margin-top: 12px;
}
.align_stuff {
    margin-left: 10px;
}
/*  Complete.cshtml  */
div.complete {
    background-color: #f7f7f7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
div.override1 div.override2 div.override3,
div.override1 div.override2 div.override4 {
    display: grid;
}
.override3 {
    background-color: white;
    display: grid;
    grid-template-rows: 190px 75px 42px auto 15px 135px 145px;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    border-radius: 0 0 10px 10px;
}

.rowA {
    margin: auto;
    font-size: 85px;
    color: #4bc7f9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #09b5fb;
}
.rowB {
    margin: auto;
    margin-bottom: 35px;
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #4bc7f9;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #09b5fb;
}

.rowC, .rowE {
    margin: auto;
    display: grid;
    width: 92%;
    line-height: 2;
    font-weight: bold;
}
.rowC {
    grid-template-columns: 1fr 220px 220px 1fr;
    background-color: #abeae6;
    font-size: 20px;
}

.rowE {
    grid-template-columns: 1fr 220px 220px 1fr;
    line-height: 2;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    font-size: 18px;
}
.rowE2 {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 440px 1fr;
    width: 92%;
    line-height: 2;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    font-weight: normal;
    font-size: 16px;
}
.rowE3 {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    width: 92%;
}

div.override3 div.itemLeft {
    margin: auto auto auto 5px;
}
div.override3 div.itemRight {
    margin: auto 5px auto auto;
}
.rowF {
    margin: auto;
    display: grid;
    grid-template-rows: 50px 85px;
    width: 100%;
    background-color: #b4df7b;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.rowF1 {
    margin: 20px auto auto auto;
}
div.rowF2 {
    display: grid;
    margin: auto auto 20px auto;
}
div.rowG {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.evt_title {
    font-family: Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00a69c;
}
.text_position {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row_format {
    margin-top: 10px;
}
div.team1_box {
    font-family: Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    display: grid;
    grid-template-rows: 20px 4fr 4fr 1fr 4fr 30px;
    margin: auto;
}
div.team1Name, div.team1Location {
    margin: auto;
    font-family: Impact, Verdana, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    letter-spacing: 0.04em;
    color: #00a69c;
}
.team1Name {
    font-size: 22px;
}
.team1Location {
    font-size: 17px;
}
div.tagline {
    margin: auto;
    font-size: 13px;
    font-style: italic;
}
/*  About page  */
.aboutinfo {
    background-color: #24569f;
    font-family: Arial;
    font-size: x-large;
    margin-bottom: 300px;
    color: white;
    padding: 30px;
}

/* ==== Part 3 - Other Pre-built CSS - Not sure about it ==== */

.esh-event-title {
    position: relative;
    top: 74.28571px;
}

.esh-event-filters {
    background-color: #00a69c;
    min-height: 90px;
}

.esh-event-filter {
    background-color: transparent;
    border-color: #00d9cc;
    color: #fff;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    min-width: 140px;
    -webkit-appearance: none;
}

input[type="checkbox"] {
    background-color: rgb(0, 166, 156);
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    outline: 1.1px solid #00d9cc;
    height: 28px;
    width: 28px;
}

input[type="checkbox"]:checked {
    background-color: rgb(0, 166, 156);
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    outline: 1.1px solid #00d9cc;
    height: 28px;
    width: 28px;
}

.esh-event-filter option {
    background-color: #00a69c;
}

.esh-event-label {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.online_label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 15px;
    position: relative;
    bottom: 15px;
    margin-right: 5px;
}

.esh-event-label::before {
    color: rgba(255, 255, 255, 0.8);
    content: attr(data-title);
    font-size: 1rem;
    margin-top: 0.65rem;
    margin-left: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.esh-event-label2 {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.esh-event-label2::before {
    color: rgba(255, 255, 255, 0.8);
    content: attr(data-title);
    font-size: 1rem;
    margin-top: 0.65rem;
    margin-left: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
    }

.esh-event-send {
    background-color: #83d01b;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transform: translateY(0.5rem);
    padding: 0.5rem;
    height: 33px;
    width: 33px;
    transition: all 0.35s;
}

.esh-event-send:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.esh-event-items {
    margin-top: 1rem;
}

.esh-event-item {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 33%;
    display: inline-block;
    float: none !important;
}

@media screen and (max-width: 1024px) {
    .esh-event-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .esh-event-item {
        width: 100%;
    }
}

.esh-event-thumbnail {
    max-width: 370px;
    width: 100%;
}

.esh-event-button {
    background-color: #83d01b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

.esh-event-button.is-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.esh-event-button:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.esh-event-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.esh-event-price {
    text-align: center;
    font-weight: 900;
    font-size: 28px;
}

.esh-event-price::before {
    content: "$";
}

section.esh-identity-section {
    max-width: 200px;
}

.esh-identity-name {
    color: white;
}

.esh-event-filters {
    border-radius: 0 0 5px 5px;
}

.carousel-control {
    border-radius: 0;
}
