body {
    padding-top: 20px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 260px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* set image size for main panel */
.event_image {
    height: 220px;
    width: 293px;
}

.event_big_img {
    width: 720px;
    height: 360px;
    margin: auto;
}

.event_box {

}

.event_name {
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.event_intro {
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.main_title {
    font-family: Impact, Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 34px;
    font-weight: 100;
    font-style: italic;
    color: white;
    letter-spacing: 0.02em;
}

.event_navbar {
    background-color: #00a69c;
    margin-bottom: 0;
    border-bottom: none;
    z-index: 99;
    border-radius: 5px 5px 0 0;
}

.new_nav_link {
    margin-left: 15px;
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 500;
    padding: 0;
}

.nav_ul_spacing {
    padding: 15px;
}

.hello_user {
    margin: 10px 15px 0 0;
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: #00a69c;
    font-weight: 500;
}

.view_link {
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

ul.fix_nav {
    list-style-type: none;
}

.drop_bg_color {
    background-color: #e3f2fd;
}

.filter_container {
    padding-top: .5rem;
    padding-right: 0;
}

.subtitle {
    color: rgba(255,255,255,.8);
    margin-left: 20px;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 0;
    font-size: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
}

.stretch_img {
    width: 1140px;
    overflow: hidden;
}

.arrow_button {
    padding: 0;
    height: 38px;
}

footer.footer {
    background-color: #00a69c;
    font-size: 17px;
    height: 50px;
    margin-top: 5px;
}

.footer_content {
    padding: 10px;
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    color: white;
    font-weight: 500;
}

.pager_row {
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
}

.pager_item {
    font-family: Verdana, Roboto,"Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
    font-size: 17px;
    color: green;
    font-weight: 500;
    margin: 0 5px 0 5px;
}

.lighter, .lighter2 {
    color: lightseagreen;
}

.lighter:hover {
    color: darkgreen;
}

.pager_box {
    border: 1px blue solid;
    display: inline;
    padding: 7px 5px 5px 5px;
    background-color: #e3f2fd;
    border-radius: 5px;
}

.event_zone {
    margin-top: 5px;
}

.event_container {
    padding-left: 0;
    padding-right: 0;
}

.new_hover:hover {
    color: darkgreen;
}
.img_spacer {
    margin-bottom: 12px;
}
.img_spacer2 {
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;
}

.img_spacer {
    margin-bottom: 12px;
    margin-right: auto;
    margin-left: auto;
}

.custom_button {
    background-color: #83d01b;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
    border-radius: 4px;
}

    .custom_button:hover {
        background-color: #4a760f;
        transition: all 0.35s;
    }

.esh-event-title {
    position: relative;
    top: 74.28571px
}

.esh-event-filters {
    background-color: #00a69c;
    min-height: 90px
}

.esh-event-filter {
    background-color: transparent;
    border-color: #00d9cc;
    color: #fff;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1.5rem;
    min-width: 140px;
    -webkit-appearance: none
}

input[type=checkbox] {
    background-color: rgb(0, 166, 156);
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1.5rem;
    outline: 1.1px solid #00d9cc;
    height: 28px;
    width: 28px;
}

input[type=checkbox]:checked {
    background-color: rgb(0, 166, 156);
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    outline-color: #83d01b;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1.5rem;
    outline: 1.1px solid #00d9cc;
    height: 28px;
    width: 28px;
}

.esh-event-filter option {
    background-color: #00a69c
}

.esh-event-label {
    display: inline-block;
    position: relative;
    z-index: 0
}

.online_label {
    color: rgba(255,255,255,.8);
    font-size: 1.0rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-left: 15px;
    position: relative;
    bottom: 15px;
    margin-right: 5px;
}

.esh-event-label::before {
    color: rgba(255,255,255,.8);
    content: attr(data-title);
    font-size: 1.0rem;
    margin-top: .65rem;
    margin-left: .5rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1
}

.esh-event-label::after {
    background-image: url("../images/arrow-down.png");
    height: 7px;
    content: '';
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    width: 10px;
    z-index: 1
}

.esh-event-label2 {
    display: inline-block;
    position: relative;
    z-index: 0
}

.esh-event-label2::before {
    color: rgba(255,255,255,.8);
    content: attr(data-title);
    font-size: 1.0rem;
    margin-top: .65rem;
    margin-left: .5rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1
}

.esh-event-send {
    background-color: #83d01b;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transform: translateY(.5rem);
    padding: .5rem;
    height: 33px;
    width: 33px;
    transition: all .35s
}

.esh-event-send:hover {
    background-color: #4a760f;
    transition: all .35s
}

.esh-event-items {
    margin-top: 1rem
}

.esh-event-item {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 33%;
    display: inline-block;
    float: none !important
}

@media screen and (max-width:1024px) {
    .esh-event-item {
        width: 50%
    }
}

@media screen and (max-width:768px) {
    .esh-event-item {
        width: 100%
    }
}

.esh-event-thumbnail {
    max-width: 370px;
    width: 100%
}

.esh-event-button {
    background-color: #83d01b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all .35s;
    width: 80%
}

.esh-event-button.is-disabled {
    opacity: .5;
    pointer-events: none
}

.esh-event-button:hover {
    background-color: #4a760f;
    transition: all .35s
}

.esh-event-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase
}

.esh-event-price {
    text-align: center;
    font-weight: 900;
    font-size: 28px
}

.esh-event-price::before {
    content: '$'
}

section.esh-identity-section {
    max-width: 200px;
}

.esh-identity-name {
    color: white;
}

.esh-event-filters {
    border-radius: 0 0 5px 5px;
}

.carousel-control {
    border-radius: 0;
}

.aboutinfo {
    background-color: #24569f;
    font-family: Arial;
    font-size: x-large;
    margin-bottom: 300px;
    color: white;
    padding: 30px;
}